@import "../../../assets/styles/custom";
#scale{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .wrap{
    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      form{
        width: 12rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .input-scale{
          width: 100%;
          font-size: 0.5rem;
        }
        mat-label{
          font-size: 0.36rem;
        }
        mat-radio-group{
          width: 100%;
          height: 3rem;
          font-size: 0.36rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        button{
          width: 100%;
          height: 1.2rem;
          font-size: 0.4rem;
          background-color: @blue;
        }
      }
      mat-list{
        width: 12rem;
        margin-top: 2rem;
        mat-list-item{
          font-size: 0.36rem;
          h4{
            white-space: inherit;
            word-break: break-all;
          }
        }
      }
    }
  }

}
