<app-tool-template [title]="'进制转换'">
  <div class="content">
    <form class="scale-form" (ngSubmit)="onSubmit()" [formGroup]="formData">
      <mat-form-field class="input-scale">
        <input matInput placeholder="请输入数值" formControlName="number" autofocus>
      </mat-form-field>
      <mat-label><strong>数值的进制</strong></mat-label>
      <mat-radio-group formControlName="scale">
        <mat-radio-button value="2">2进制</mat-radio-button>
        <mat-radio-button value="8">8进制</mat-radio-button>
        <mat-radio-button value="10">10进制</mat-radio-button>
        <mat-radio-button value="16">16进制</mat-radio-button>
      </mat-radio-group>
      <button mat-button type="submit">计算</button>
    </form>
    <mat-list role="list" *ngIf="isComputed">
      <h3 mat-subheader>计算结果:</h3>
      <mat-list-item class="result-wrap" role="listitem">
        <mat-icon mat-list-icon>done</mat-icon>
        <a (click)="copyResult($event)" mat-line>
          2进制: {{result.scale2}}
        </a>
      </mat-list-item>
      <mat-list-item class="result-wrap" role="listitem">
        <mat-icon mat-list-icon>done</mat-icon>
        <a (click)="copyResult($event)" mat-line>
          8进制: {{result.scale8}}
        </a>
      </mat-list-item>
      <mat-list-item class="result-wrap" role="listitem">
        <mat-icon mat-list-icon>done</mat-icon>
        <a (click)="copyResult($event)" mat-line>
          10进制: {{result.scale10}}
        </a>
      </mat-list-item>
      <mat-list-item class="result-wrap" role="listitem">
        <mat-icon mat-list-icon>done</mat-icon>
        <a (click)="copyResult($event)" mat-line>
          16进制: {{result.scale16}}
        </a>
      </mat-list-item>
    </mat-list>
  </div>
</app-tool-template>



