@import "../assets/styles/custom";
#app{
  width: 100%;
  height: auto;
  .wrap{
    .header{
      mat-toolbar{
        span{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .fill-remaining-space {
          /* This fills the remaining space, by using flexbox.
             Every toolbar row uses a flexbox row layout. */
          flex: 1 1 auto;
        }
      }
    }
    .content{
      mat-sidenav-container{
        width: 100%;
        height: auto;
        min-height: 1000px;
        mat-sidenav{
          width: 500px;
        }
        mat-sidenav-content{
          .content-wrap{

          }
        }
      }
    }
    .footer{
      background: @white;
      padding-top: 2rem;
      font-size: 0.24rem;
      width: 100%;
      height: 3.2rem;
      text-align: center;
    }
  }
}
