@import "../../../assets/styles/custom";
#home{
  height: auto;
  width: 1600px;
  display: flex;
  flex-direction: column;
  .header{
    width: 100%;
    .search-wrap{
      height: 100%;
      width: 100%;
      padding: 30px;
      .search-form{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        mat-form-field{
          width: 60%;
          font-size: 30px;
        }
      }

    }
  }
  .content{

    mat-grid-tile{
      mat-card{
        background: aliceblue;
        width: 70%;
        height: 70%;
        mat-card-header{
          mat-card-title{
            font-weight: bold;
          }
        }
        mat-card-actions{
          position: absolute;
          right: 20px;
          button{
            font-weight: bold;
            font-size: 18px;
          }
        }
      }

    }
  }

}
