@import "../../../assets/styles/custom";
#home{
  height: auto;
  width: 1600px;
  display: flex;
  flex-direction: column;
  .header{
    height: 150px;
    width: 100%;
    .search-wrap{
      height: 100%;
      width: 100%;
      padding: 30px;
      display: flex;
      justify-content: center;
      mat-form-field{
        width: 60%;
        font-size: 30px;
      }
    }
  }
  .content{
    font-family: "Microsoft JhengHei";
    mat-grid-tile{
      mat-card{
        background: aliceblue;
        width: 70%;
        height: 70%;
      }
      mat-card-actions{
        position: absolute;
        right: 20px;
      }
      /*.item-wrap{
        height: 90%;
        width: 90%;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .sub-title{
          height: 20%;
          font-size: 20px;
          color: @black;
          display: flex;
          p{
            padding: 10px;
          }
        }
        .describe{
          height: 60%;
          font-size: 15px;
          color: @black;
          text-align: center;
          p{
            padding: 10px;
          }
        }
        .enter{
          height: 20%;
          display: flex;
          justify-content: flex-end;
        }
      }
*/
    }
  }

}
